<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
    <a class="navbar-brand brand-logo" href="index.html">
      <img src="assets/Citibank_logo.png"  />
    </a>
    <a class="navbar-brand brand-logo-mini" href="index.html">
      <img src="assets/Citibank_logo.png"  />
    </a> 
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-center">
      <a class="nav-item">Sanctions Screening Application</a>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item" >
        <a class="nav-link"  routerLink="login">Logout</a>
      </li>
    </ul>
  </div> 
</nav>
